/*
Basic CSS stylesheet for a landing page
Used as temporary CSS until proper wewbsite is created
Taken from: https://www.w3schools.com/howto/howto_css_coming_soon.asp
 */


body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  /* Background image */
  background-color: black;
  /* Full-screen */
  height: 100%;
  /* Center the background image */
  background-position: center;
  /* Scale and zoom in the image */
  background-size: cover;
  /* Add position: relative to enable absolutely positioned elements inside the image (place text) */
  position: relative;
  /* Add a white text color to all elements inside the .bgimg container */
  color: white;
  /* Add a font */
  font-family: "Helvetica", Courier, monospace;
  /* Set the font-size to 25 pixels */
  font-size: 25px;
}

.container_pink {
  /* Background image */
  background-color: pink;
  /* Full-screen */
  height: 100%;
  /* Center the background image */
  background-position: center;
  /* Scale and zoom in the image */
  background-size: cover;
  /* Add position: relative to enable absolutely positioned elements inside the image (place text) */
  position: relative;
  /* Add a white text color to all elements inside the .bgimg container */
  color: white;
  /* Add a font */
  font-family: "Helvetica", Courier, monospace;
  /* Set the font-size to 25 pixels */
  font-size: 25px;
}



/* Position text in the middle */
.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the <hr> element */
hr {
  margin: auto;
  width: 40%;
}



/* Code to make heart extracted from https://css-shape.com/heart/ */
.heart {
  height: 250px; /* adjust to control the size */
  aspect-ratio: 1;
  --_m: radial-gradient(#000 69%,#0000 70%) 84.5%/50%;
  -webkit-mask-box-image: var(--_m);
  mask-border: var(--_m);
  clip-path: polygon(-41% 0,50% 91%, 141% 0);
  background: #ef107f;
  text-align: center;
  animation: beat .25s infinite alternate;

  /* Flexbox properties for centring content */
  display: flex;
  justify-content: center; /* Horizontally centre the text */
  align-items: center; /* Vertically centre the text */
}

/* Heart beat animation
Taken from: https://codepen.io/fivera/pen/AMzMbQ
*/
@keyframes beat{
  to { transform: scale(1.4); }
}


/* fallback until better support for mask-border */
@supports not (-webkit-mask-box-image: var(--_m)) {
  .heart {
    mask:
            radial-gradient(at 70% 31%,#000 29%,#0000 30%),
            radial-gradient(at 30% 31%,#000 29%,#0000 30%),
            linear-gradient(#000 0 0) bottom/100% 50% no-repeat;
  }
}
